{{ define "adminPage" }}
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">UUID</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <th scope="row">{{ .ID }}</th>
                <td>{{ .Username }}</td>
                <td>{{ .Email }}</td>
                <td>{{ .Password }}</td>
                <td>{{ .Address }}</td>
                <td>{{ .Phone }}</td>
                <td>{{ .UUID }}</td>
                <td><a href="/admin/users/delete/{{ .UUID }}" class="ms-2 btn btn-danger">delete</a></td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
