{{ define "title" }}
Product
{{ end }}
{{ define "extend" }}
<div class="mt-4">
    <div class="row">
        <div class="col">
            <h1>Product name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col">
                <img src="https://placehold.co/600x400" class="img-fluid" alt="...">
            </div>
            <p>product describtion</p>
            <div class="row">
                <div class="col">
                    <p>price: 20$</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark">add to cart</button>
                    <button class="btn btn-dark">Buy now</button>
                </div>
            </div>
        </div>
        <div class="col">
            <h3>Reviews</h3>
            <div class="card" >
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Great product</li>
                    <li class="list-group-item">bla bla</li>
                    <li class="list-group-item">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}
