{{ define "title" }}
profile
{{ end }}

{{ define "extend" }}
<div class="mt-4">
    <div class="row">
        <div class="col">
            <h1>Profile</h1>
            <div class="card" >
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: mohamed</li>
                    <li class="list-group-item">email: mo@mai.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}
